h2{
    margin: 0px 0px 5px 0px;
}
/* Fix navbar-fixed-top*/
  #content {
    padding-top: 60px;
    padding-bottom: 42px;
  }
.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}
/* Fix para el menu */
.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}