<hr>
<div class="panel panel-body implementation" id= "<%= id %>">
	<div class="panel panel-header">
	<h3>Implementación <%= name %> 	<a href="#code/<%= appid %>/<%= id %>" class="btn btn-default btn-xs pull-right">Mas...</a></h3>
	</div>
	<p><strong>Repositorio:</strong> <%= codeurl %></p>
	<p><strong>Autor:</strong> <%= author %></p>
	<p><strong>Plataformas:</strong> <%= platforms %></p>
	<%= deployments %>
	<div class="col-md-8 text-center" id="ND-<%= id %>">
  	<a href="#deploy/<%= appid %>/<%= id %>/new" class="btn btn-default btn-sm">Nuevo despliegue</a></h3>
  	</div>
</div>